ICON_00 ICON "Emu80SDL.ico"
ICON_01 ICON "icons/rk.ico"
ICON_02 ICON "icons/rkr.ico"
ICON_03 ICON "icons/rkp.ico"
ICON_04 ICON "icons/rkm.ico"
ICON_05 ICON "icons/rka.ico"
ICON_06 ICON "icons/rks.ico"
ICON_07 ICON "icons/rko.ico"
ICON_08 ICON "icons/rku.ico"
ICON_09 ICON "icons/rk8.ico"
ICON_10 ICON "icons/bru.ico"
ICON_11 ICON "icons/gam.ico"
ICON_12 ICON "icons/odi.ico"
ICON_13 ICON "icons/rss.ico"
